body{
    background-color: rgb(138, 210, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

hr {
    width: 95%;
    height: 2px;
    background-color: white;
}
#review_line{
    width: 85%;
    height: 1px;
    background-color: white;
}

.footer h4{
    margin-top: 5px;
    color: #F0F0F0;
    float: left;
    margin-left: 29px;
    cursor: pointer;
}

footer {
  text-align: center;
  background-color: rgb(13, 110, 158, 0.8);
  color: white;
  position: absolute;
  bottom: auto;
  width: 98.7%;
  overflow: hidden;
  border-radius: 10px;
}

.navigation-bar {
    overflow: hidden;
    background-color: rgb(13, 110, 158, 0.8);
    border-radius: 10px;
}
.navigation-bar a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}
#nav_tab:hover {
    background-color: #ddd;
    color: black;
}

#login_status{
    background-color: rgb(24, 19, 158);
}


h1{
    text-align: center;
    color: white;
}

#content-2{
    background-color: rgb(13, 110, 158, 0.8);
    /* background-color: #CA3B07; */
    /* background-color: rgb(247, 94, 37, 0.85); */
    width: 65%;
    height: auto;
    /* position: relative; */
    left: 20%;
    top: 11vw;
    border-radius: 10px;
    overflow: auto;
    margin: auto;

}

input {
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 9px;
    width: 30%;
}

#container{
    background-color: rgb(13, 110, 158, 0.8);
    width: 65%;
    height: auto;
    left: 20%;
    top: 11vw;
    border-radius: 10px;
    overflow: auto;
    margin: auto;

}


.previous {
  background-color: #66ccff;
  color: white;
  display: inline-block;
  float: left;
  margin-left: 5px;
}
.previous:hover {
  background-color: #ddd;
  color: black;
}

.next {
  background-color: #66ccff;
  color: white;
  display: inline-block;
  float: right;
  margin-right: 5px;
}
.next:hover {
  background-color: #ddd;
  color: black;
}

.disabled-btn-right{
    background-color: grey;
    border-radius: 8px;
    display: inline-block;
    float: right;
    margin-right: 5px;
}

.disabled-btn-left{
    background-color: grey;
    border-radius: 8px;
    display: inline-block;
    float: left;
    margin-left: 5px;
}

button{
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #66ccff;
    color: white;
}

#book_info{
width: 80%;
margin-left: 10%;
}

#book_title{
margin-left: 5%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#home_par{
text-align: center;
margin: 20px;
}

p {
    color: white;
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
h2{
color: white;
}

b{
font-size: 20px;
}

#review_text{
    margin-left: 10%;
    margin-right: 10%;
}