.footer{
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.footer h4{
    margin-top: 29px;
    color: #F0F0F0;
    float: left;
    margin-left: 29px;
    cursor: pointer;
}
.navigation-bar {
    overflow: hidden;
    background-color: #F0F0F0;
}
.navigation-bar a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navigation-bar a:hover {
    background-color: #ddd;
    color: black;
}
.navigation-bar a.active {
    background-color: #1E2460;
    color: white;
}